html {
  scroll-behavior: smooth;
}
.hide {
  display: none !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ff523b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #563434;
}

/* Carousel */
.carousel-item img {
  max-height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* Hero Image Css */
.hero {
  background: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), 
    url("Hero/heroImg.webp") center / cover no-repeat;
  height: 50vh; /* mobile ke liye chhoti height */
  
}
.hero button {
  font-size: 1.3rem;
  padding: 12px;
}
@media (max-width: 767px) {
  .hero button {
    font-size: 1.1rem;
    padding: 10px;
  }
}

/* Tablet (min-width: 768px) */
@media (min-width: 768px) {
  .hero {
    background: 
      linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), 
      url("Hero/heroImg.webp") center / cover no-repeat;
    height: 75vh;
  }
}

/* Desktop (min-width: 1200px) */
@media (min-width: 1200px) {
  .hero {
    background: 
      linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), 
      url("Hero/heroImg.webp") center / cover no-repeat;
    height: 100vh;
  }
}
.custom-gap {
  padding-top: 70px;
}

/* Navbar Css */
.navbar-brand {
  font-size: 1.6rem;
}
.nav-btn {
  font-size: 1rem;
}
.nav-btn:hover {
  color: #ff253b;
}
.dropdown-menu .dropdown-item {
  padding: 10px 16px;
}
.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent !important;
}
.dropdown-menu {
  background-color: #f8f9fa !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
}
.orng-btn {
  background-color: #ff523b;
  color: #fff;
  border-radius: 30px;
  transition: background-color 0.5s;
  cursor: pointer;
}
.orng-btn:hover {
  background-color: #563434;
}

/* Category Css */
.category-images {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

@media (max-width: 575px) {
  .card {
    margin-left: 1px;
    margin-right: 1px;
  }
  .category-images {
    width: 100%;
    height: 330px;
    object-fit: cover;
  }
  .categories {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
@media(min-width: 576px) {
  .card {
    margin-left: 0px;
    margin-right: 0px;
  }
  .categories {
    margin-left: 0px;
    margin-right: 0px; 
    padding-right: 4px;
    padding-left: 4px;  
  }
}
@media (min-width: 768px) {
  .categories {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 4px;
    padding-left: 4px;    
  }
}
@media (min-width: 992px) {
  .card {
    margin-left: 0px;
    margin-right: 0px; 
  }
  .categories {
    margin-left: 0px;
    margin-right: 0px;  
    padding-left: 4px;
    padding-right: 4px; 
  }
}
@media (max-width: 1199px) {
  .categories {
    margin-left: 0px;
    margin-right: 0px;  
    padding-left: 4px;
    padding-right: 4px;
    border: none!important;     
  }
}
@media (min-width: 1200px) {
  .card {
    margin-left: 24px;
    margin-right: 24px; 
  }
  .card:hover {
    transform: scale(1.05);
    background-color: #ff523b;
  } 
  .categories {
    margin-left: 24px;
    margin-right: 24px;  
    padding-left: 0px;
    padding-right: 0px; 
  }
}

/* Products Css */
.title {
  position: relative;
}
.title:after {
  content: "";
  background-color: #ff523b;
  width: 6.5rem;
  height: 0.4rem;
  border-radius: 5px;
  position: absolute;
  bottom: 1.7rem;
  left: 50%;
  transform: translateX(-50%);
}
.card {
  padding: 3px;
  border-radius: 18px;
  transition: transform 0.5s ease;
  cursor: pointer;
  border: none;
}
.product {
  border-radius: 18px;
}
.product-images {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
@media (min-width: 992px) {
  .product-images {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
}
@media (min-width: 1200px) {
  .product-images {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
}
@media (max-width: 575px) {
  .product-images {
    width: 100%;
    height: 245px;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
}
.prdt-banr {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .prdt-banr h1 {
    font-size: 1.7rem;
  }
}
@media (min-width: 576px) {
  #sortBtn {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  #sortBtn {
    justify-content: end;
  }
}
.price {
  font-size: 1.1rem;
}
.page-switch .nav-btn {
  background-color: #f8f9fa !important;
  transition: transform o.3s ease;
  font-size: 1.1rem;
}
.page-switch .nav-btn:hover {
  transform: scale(1.05);
}
@media (max-width: 575px) {
  .page-switch {
    justify-content: center;
  }
  #sortBtn {
    padding-top: 6px;
  }
}

/*Modal Css*/
.custom-modal {
  max-width: 680px;
  width: auto;
}
#modalImg {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 575px) {
  #modalImg {
    height: 190px;
  }
}
@media (min-width: 576px) {
  #modalImg {
    height: 270px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 435px) {
  .body-col {
    width: 80%;
  }
  .modal-content {
    width: 70%;
  }
  #modalImg {
    height: 200px;
  }
}
@media (min-width: 436px) {
  .modal-content {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .modal-content {
    width: 100%;
  }
}
.btn-close {
  font-size: 1.2rem;
}
.dropdown-menu.dropdown-width {
  background-color: #fff !important;
  width: auto;
  min-width: unset;
  border: none !important;
}
.dropdown-menu .qtyVal {
  padding-right: 14px;
  padding-left: 14px;
  font-size: 1.1rem;
}
.qtyBtns {
  background-color: #fff !important;
  transition: transform o.3s ease;
  border: none;
  cursor: pointer
}
.qtyBtns:hover {
  transform: scale(1.05);
}
/* .popup-modal {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
      .modal.show .popup-modal {
        transform: scale(1);
      } */

/* Cart Css */
.cart-message {
  border-radius: 30px;
  transition: all 0.5s ease;
  background-color: rgb(3, 197, 3);
  font-size: 1.1rem;
}
#cart-btn {
  position:fixed;
  display:none;
  top: 70px;
  right: 20px;
  z-index: 1050;
}
#cart-count {
  position:fixed;
  display:none;
  top: 65px;
  right: 15px;
  z-index: 1050;
}
#count {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
}

@media (max-width: 767px) {
  #cart-btn {
    position:fixed;
    display:none;
    top: 445px;
    right: 20px;
    z-index: 1050;
  }
  #cart-count {
    position:fixed;
    display:none;
    top: 440px;
    right: 15px;
    z-index: 1050;
  }
}
/* @media(max-width: 768px) {
  #count {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
  }
} */


/* Gallery Css */
.glry-banr {
  font-size: 3rem;
  position: relative
}
.glry-banr:after {
  content: "";
  background-color: #ff523b;
  width: 6.7rem;
  height: 0.6rem;
  border-radius: 5px;
  position: absolute;
  bottom: 1.7rem;
  left: 50%;
  transform: translateX(-50%);
}
.gallery {
  column-count: 3;
  column-gap: 1rem;
}
.gallery img {
  width: 100%;
  margin-bottom: 1rem;
  display: block;
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .gallery {
    column-count: 2;
  }
}
@media (max-width: 576px) {
  .gallery {
    column-count: 1;
  }
}

/* Form Css */
.submit-msg {
  opacity: 1;
  transition: opacity 1s ease-out;
}
.submit-msg.hide {
  opacity: 0;
}
#status { 
  margin-top:12px; font-weight:600; 
}
#validate_error {
  margin-bottom: 20px;
  background-color: #f8d7da;
  color: #842029;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.5s ease;
}
#system_error {
  margin-bottom: 20px;
  background-color: #fff3cd;
  color: #664d03;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.5s ease;
}

/* Footer Css */
.copyright {
  text-align: center;
  padding-bottom: 15px;
}

